{% extends 'layout.html' %}
{% block content %}
{% load static %}
<div class="container p-1 my-1">
    <h1 class="headin">Adidas</h1>

    <div class="row mt-5">
        <div class="col-md-3 wow animated zoomInDown" data-wow-duration="2s" data-wow-delay="0.5s">
            <div class="card">
                <img class="card-img-top img-fluid" alt="shoe" src="static/img/adi1.jpg">
                <div class="card-body">
                    <div class="card-heading">Product 1</div>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit neque, mollitia
                        dolorem. </p>
                    <a class="btn btn-danger text-dark"><i class="fa fa-cart-plus" aria-hidden="true"></i> Add To
                        Cart</a>
                </div>
            </div>
        </div>

        <div class="col-md-3 wow animated zoomInLeft" data-wow-duration="2s" data-wow-delay="0.5s">
            <div class="card">
                <img class="card-img-top img-fluid" alt="img1" src="static/img/adi2.jpg">
                <div class="card-body">
                    <div class="card-heading">Product 1</div>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit neque, mollitia
                        dolorem. </p>
                    <a class="btn btn-danger text-dark"><i class="fa fa-cart-plus" aria-hidden="true"></i> Add To
                        Cart</a>
                </div>
            </div>
        </div>


        <div class="col-md-3 wow animated zoomInRight" data-wow-duration="2s" data-wow-delay="0.5s">
            <div class="card">
                <img class="card-img-top img-fluid" alt="img1" src="static/img/adi3.jpg">
                <div class="card-body">
                    <div class="card-heading">Product 1</div>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit neque, mollitia
                        dolorem. </p>
                    <a class="btn btn-danger text-dark"><i class="fa fa-cart-plus" aria-hidden="true"></i> Add To
                        Cart</a>
                </div>
            </div>
        </div>


        <div class="col-md-3 wow animated zoomInUp" data-wow-duration="2s" data-wow-delay="0.5s">
            <div class="card">
                <img class="card-img-top img-fluid" alt="img1" src="static/img/adi4.jpg">
                <div class="card-body">
                    <div class="card-heading">Product 1</div>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit neque, mollitia
                        dolorem. </p>
                    <a class="btn btn-danger text-dark"><i class="fa fa-cart-plus" aria-hidden="true"></i>Add To
                        Cart</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-3 wow animated slideInDown" data-wow-duration="2s" data-wow-delay="0.5s">
            <div class="card"> <img class="card-img-top img-fluid" alt="img1" src="static/img/adi6.jpg">
                <div class="card-body">
                    <div class="card-heading">Product 1</div>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit neque, mollitia
                        dolorem. </p>
                    <a class="btn btn-danger text-dark"><i class="fa fa-cart-plus" aria-hidden="true"></i> Add To
                        Cart</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 wow animated slideInLeft" data-wow-duration="2s" data-wow-delay="0.5s">
            <div class="card"> <img class="card-img-top img" alt="img1" src="static/img/adi5.jpg">
                <div class="card-body">
                    <div class="card-heading">Product 1</div>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit neque, mollitia
                        dolorem. </p>
                    <a class="btn btn-danger text-dark"><i class="fa fa-cart-plus" aria-hidden="true"></i> Add To
                        Cart</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 wow animated slideInRight" data-wow-duration="2s" data-wow-delay="0.5s">
            <div class="card"> <img class="card-img-top img-fluid" alt="img1" src="static/img/shoes1.jpg">
                <div class="card-body">
                    <div class="card-heading">Product 1</div>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit neque, mollitia
                        dolorem. </p>
                    <a class="btn btn-danger text-dark"><i class="fa fa-cart-plus" aria-hidden="true"></i> Add To
                        Cart</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 wow animated slideInUp" data-wow-duration="2s" data-wow-delay="0.5s">
            <div class="card"> <img class="card-img-top img-fluid" alt="img1" src="static/img/shoes5.jpg">
                <div class="card-body">
                    <div class="card-heading">Product 1</div>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit neque, mollitia
                        dolorem. </p>
                    <a class="btn btn-danger text-dark"><i class="fa fa-cart-plus" aria-hidden="true"></i>Add To
                        Cart</a>
                </div>
            </div>
        </div>
    </div>



</div>



<style>
    .thumbnail {
        width: 100%;
    }

    .headin {
        text-align: center;
    }

    .thumbnail img {
        height: 200px;
    }

    .subs {
        background-image: url("/app/static/img/banner2.jpg");
        background-position: 100%;
        background-size: 100%;
        filter: brightness(50%);
    }
</style>
<style>
    body {
        background: #648880 !important;
        background: linear-gradient(to right, #f6f1d3, #648880 85%, #293f50) !important;
    }
</style>

<!-- Footer -->
{% endblock %}