{% extends 'layout.html' %}
{% block content %}
{% load static %}
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="/static/img/shoes1.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <p class="heading animated bounceInLeft">SALE SALE SALE!</p>
                <p class="sub-heading animated flipInX delay-1s">UPTO 50% OFF</p>
                <a class="btn btn-lg btn-danger mt-5 delay-2s animated bounce delay-2s infinite " href="/nike">Shop Now</a>

            </div>
        </div>
    </div>
  
</div>



<div class="container p-1 my-1">
    <div class="row wow flash">
        <div class="col-md-12 text-center"><h1>LATEST PRODUCTS</h1></div>
    </div>

    <div class="row mt-5">
        <div class="col-md-3 wow animated zoomInDown" data-wow-duration="2s" data-wow-delay="0.5s">
            <div class="card">
                <img class="card-img-top img-fluid" alt="shoe" src="static/img/nike8.jpg">
                <div class="card-body">
                    <div class="card-heading">Product 1</div>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit neque, mollitia
                        dolorem. </p>
                    <a class="btn btn-danger text-dark"><i class="fa fa-cart-plus" aria-hidden="true"></i> Add To
                        Cart</a>
                </div>
            </div>
        </div>

        <div class="col-md-3 wow animated zoomInLeft" data-wow-duration="2s" data-wow-delay="0.5s">
            <div class="card">
                <img class="card-img-top img-fluid" alt="img1" src="static/img/adi1.jpg">
                <div class="card-body">
                    <div class="card-heading">Product 1</div>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit neque, mollitia
                        dolorem. </p>
                    <a class="btn btn-danger text-dark"><i class="fa fa-cart-plus" aria-hidden="true"></i> Add To
                        Cart</a>
                </div>
            </div>
        </div>


        <div class="col-md-3 wow animated zoomInRight" data-wow-duration="2s" data-wow-delay="0.5s">
            <div class="card">
                <img class="card-img-top img-fluid" alt="img1" src="static/img/nike2.jpg">
                <div class="card-body">
                    <div class="card-heading">Product 1</div>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit neque, mollitia
                        dolorem. </p>
                    <a class="btn btn-danger text-dark"><i class="fa fa-cart-plus" aria-hidden="true"></i> Add To
                        Cart</a>
                </div>
            </div>
        </div>


        <div class="col-md-3 wow animated animated zoomInUp" data-wow-duration="2s" data-wow-delay="0.5s">
            <div class="card">
                <img class="card-img-top img-fluid" alt="img1" src="static/img/shoes1.jpg">
                <div class="card-body">
                    <div class="card-heading">Product 1</div>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit neque, mollitia
                        dolorem. </p>
                    <a class="btn btn-danger text-dark"><i class="fa fa-cart-plus" aria-hidden="true"></i> Add To
                        Cart</a>
                </div>
            </div>
        </div>
    </div>


    <div class="row wow animated flash" data-wow-duration="2s" data-wow-delay="0.5s">
        <div class="col-md-12 text-center">
            <h1>BROWSE TOP SELLING PRODUCTS</h1>
        </div>
    </div>

    <div class="row mt-4 wow animated bounceIn" data-wow-duration="2s" data-wow-delay="0.5s">
        <div class="col-md-12">
            <div class="col-md-12"><a href="/nike" class="btn btn-light">NIKE</a> <a href="/adidas"
                                                                                     class="btn btn-light ml-4">ADIDAS</a>
                <a href="/shoes" class="btn btn-light ml-4">PUMA</a> <a href="/nike" class="btn btn-light ml-4">OFF-WHITE</a>
            </div>
        </div>
    </div>


    <div class="row mt-5">
        <div class="col-md-3 wow animated slideInDown" data-wow-duration="2s" data-wow-delay="0.5s">
            <div class="card"><img class="card-img-top img-fluid" alt="img1" src="static/img/nike8.jpg">
                <div class="card-body">
                    <div class="card-heading">Product 1</div>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit neque, mollitia
                        dolorem. </p>
                    <a class="btn btn-danger text-dark"><i class="fa fa-cart-plus" aria-hidden="true"></i> Add To
                        Cart</a></div>
            </div>
        </div>
        <div class="col-md-3 wow animated slideInLeft" data-wow-duration="2s" data-wow-delay="0.5s">
            <div class="card"><img class="card-img-top img-fluid" alt="img1" src="static/img/adi6.jpg">
                <div class="card-body">
                    <div class="card-heading">Product 1</div>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit neque, mollitia
                        dolorem. </p>
                    <a class="btn btn-danger text-dark"><i class="fa fa-cart-plus" aria-hidden="true"></i> Add To
                        Cart</a></div>
            </div>
        </div>
        <div class="col-md-3 wow animated slideInRight" data-wow-duration="2s" data-wow-delay="0.5s">
            <div class="card"><img class="card-img-top img-fluid" alt="img1" src="static/img/shoes1.jpg">
                <div class="card-body">
                    <div class="card-heading">Product 1</div>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit neque, mollitia
                        dolorem. </p>
                    <a class="btn btn-danger text-dark"><i class="fa fa-cart-plus" aria-hidden="true"></i> Add To
                        Cart</a></div>
            </div>
        </div>
        <div class="col-md-3 wow animated slideInUp" data-wow-duration="2s" data-wow-delay="0.5s">
            <div class="card"><img class="card-img-top img-fluid" alt="img1" src="static/img/shoes1.jpg">
                <div class="card-body">
                    <div class="card-heading">Product 1</div>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit neque, mollitia
                        dolorem. </p>
                    <a class="btn btn-danger text-dark"><i class="fa fa-cart-plus" aria-hidden="true"></i> Add To
                        Cart</a></div>
            </div>
        </div>
    </div>


    <div class="row mt-5">
        <div class="col-md-3 wow animated flipInX" data-wow-duration="2s" data-wow-delay="0.5s">
            <div class="card"><img class="card-img-top img-fluid" alt="img1" src="static/img/shoes1.jpg">
                <div class="card-body">
                    <div class="card-heading">Product 1</div>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit neque, mollitia
                        dolorem. </p>
                    <a class="btn btn-danger text-dark"><i class="fa fa-cart-plus" aria-hidden="true"></i> Add To
                        Cart</a></div>
            </div>
        </div>
        <div class="col-md-3 wow animated flipInY" data-wow-duration="2s" data-wow-delay="0.5s">
            <div class="card"><img class="card-img-top img-fluid" alt="img1" src="static/img/shoes1.jpg">
                <div class="card-body">
                    <div class="card-heading">Product 1</div>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit neque, mollitia
                        dolorem. </p>
                    <a class="btn btn-danger text-dark"><i class="fa fa-cart-plus" aria-hidden="true"></i> Add To
                        Cart</a></div>
            </div>
        </div>
        <div class="col-md-3 wow animated flipInX" data-wow-duration="2s" data-wow-delay="0.5s">
            <div class="card"><img class="card-img-top img-fluid" alt="img1" src="static/img/shoes1.jpg">
                <div class="card-body">
                    <div class="card-heading">Product 1</div>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit neque, mollitia
                        dolorem. </p>
                    <a class="btn btn-danger text-dark"><i class="fa fa-cart-plus" aria-hidden="true"></i> Add To
                        Cart</a></div>
            </div>
        </div>
        <div class="col-md-3 wow animated flipInY" data-wow-duration="2s" data-wow-delay="0.5s">
            <div class="card"><img class="card-img-top img-fluid" alt="img1" src="static/img/shoes1.jpg">
                <div class="card-body">
                    <div class="card-heading">Product 1</div>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit neque, mollitia
                        dolorem. </p>
                    <a class="btn btn-danger text-dark"><i class="fa fa-cart-plus" aria-hidden="true"></i> Add To
                        Cart</a></div>
            </div>
        </div>
    </div>

</div>
<script>
    $('.carousel').carousel()
</script>
<style>
    body {
        background: #648880 !important;
        background: linear-gradient(to right, #f6f1d3, #648880 85%, #293f50) !important;
        }
</style>

<script src="js/jquery-1.7.1.min.js"></script>
<script src="js/bootstrap.js"></script>

{% endblock %}