<!-- order/order_create.html -->
{% extends 'base.html' %}

{% block content %}
    <h1>Order Summary</h1>
    <table>
        <thead>
            <tr>
                <th>Product</th>
                <th>Quantity</th>
                <th>Subtotal</th>
            </tr>
        </thead>
        <tbody>
            {% for cart_item in cart_items %}
                <tr>
                    <td>{{ cart_item.product.title }}</td>
                    <td>{{ cart_item.quantity }}</td>
                    <td>${{ cart_item.subtotal }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <h3>Total: ${{ total_price }}</h3>
    <hr>

    <form method="post" action="{% url 'order:order_create' %}">
        {% csrf_token %}
        {{ form.as_p }}

        <button type="submit">Place Order</button>
    </form>
{% endblock %}
